html {
  background-color: black;
  /* animation: shrink var(--duration) var(--delay) linear infinite; */
}


@keyframes move {
  from {
    top: 600px;
  }
  to {
    top: -100px;
  }
  99% {
    /* opacity from 1 to 0 in last 1% to blank out the element once animation stops */
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

div#canvass {
  height: 600px;
}


div#div1 {
  animation: move 1s;
  animation-timing-function: linear;
  /* Once animation is complete, element takes values in last keyframe */
  animation-fill-mode: forwards;

  display: inline-block;
  height: 100px;
  width: 100px;
  background-color: red;
  position: relative;
}


